Repository SlideWave/gitignore-include: changes, and which lint-staged commands are due for each by the changed paths.
All: ts-node --project tsconfig.production.json src/giismudge.ts --, eslint, prettier --list-different

.lintstagedrc:

# See [config](https://github.com/okonet/lint-staged#configuration)

".*ignore": "ts-node --project tsconfig.production.json src/giismudge.ts --"
"*.md":
  - "eslint"
  - "prettier --list-different"
"*.ts":
  - "eslint"
  - "prettier --list-different"

chore: Update CICD
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .vscode/settings.json
Due: none

chore: Cleanup formatting misses
  .lintstagedrc.yaml
  .prettierrc.yaml
  .vscode/settings.json
Due: none

feat(CI): Support having a single job to validate PRs against
  .github/workflows/ci.yaml
Due: none

Notes added by 'git notes add'
  e4d2e0c983ffe22be379c1c43f2e2dad40888940
Due: none

Notes added by 'git notes add'
  2d5867c21ea66e432dac279f79ac5a85c4ab55e4
Due: none

Notes added by 'git notes add'
  9b0d01b51b3e39c809774cfab486bf218b5b6cd3
Due: none

Notes added by 'git notes add'
  c66e7573aceb50793fbfea1c5f4b3d0712b246d7
Due: none

Notes added by 'git notes add'
  c217d1e9ed4b155e7f5b30af2abf1abb990c9803
Due: none

chore(CD): Switch up publishing tooling
  .github/workflows/deploy.yaml
  package.json
Due: none

Notes added by 'git notes add'
  250380b0411496867df0accce6bad37a1919eb8d
Due: none

docs: Update package.json license field
  package.json
Due: none

fix: Security vuln in packages
  package-lock.json
Due: none

Notes added by 'git notes add'
  9b6091bcac17862cad01321e62621168aa3f2b4d
Due: none

Notes added by 'git notes add'
  db2e3bdee1e926c3a08096a1ac57c00d4699c60e
Due: none

Notes added by 'git notes add'
  66053ee430ea6c9c5f59a0c7245ca52e62d14c02
Due: none

fix: Install Husky in prepare event
  package.json
Due: none

chore(cd): Fix failure to deploy due to Husky
  .github/workflows/deploy.yaml
Due: none

fix: Patch package is a runtime requirement
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  14d1e39af75ad333ebb1d8c913a6facdf4fa43aa
Due: none

chore(deps): Audit fix
  package-lock.json
Due: none

chore(deps): Package version updates
  package-lock.json
  package.json
Due: none

feat: Support the file and module attributes
  README.md
  src/lib/transforms.ts
Due: eslint, prettier --list-different

feat: Support recursive transformation
  README.md
  src/lib/transforms.ts
Due: eslint, prettier --list-different

Notes added by 'git notes add'
  54ecf081f4501e6927ec372e9667c8e9bbe57219
Due: none

fix: No removing expected whitespace
  src/lib/transforms.ts
Due: eslint, prettier --list-different

Notes added by 'git notes add'
  fdcdb0ab3d0d62190b3f8dec0689149625934c43
Due: none

fix: Handle some whitespace issues better
  .eslintignore
  .gitignore
  .npmignore
  .prettierignore
  src/lib/transforms.ts
Due: ts-node --project tsconfig.production.json src/giismudge.ts --, eslint, prettier --list-different

fix: HTTP errors no longer spew HTML
  src/lib/transforms.ts
Due: eslint, prettier --list-different

chore: Convert from git filters to hooks
  .gitattributes
  .husky/post-commit
  .lintstagedrc.yaml
Due: none

chore: Remove the hooks in favor of committed ignore files
  .eslintignore
  .gitignore
  .husky/post-commit
  .lintstagedrc.yaml
  .npmignore
  .prettierignore
  package.json
Due: ts-node --project tsconfig.production.json src/giismudge.ts --

feat: Allow for use as a filter
  .eslintignore
  .gitattributes
  .gitignore
  .npmignore
  .prettierignore
  package-lock.json
  package.json
  src/cli.ts
  src/giiclean.ts
  src/giismudge.ts
  src/index.ts
Due: ts-node --project tsconfig.production.json src/giismudge.ts --, eslint, prettier --list-different

Notes added by 'git notes add'
  807369f1b1c8a0bf12151e668732574524254488
Due: none

fix: Correctly recurse relative paths on file and href
  src/lib/transforms.ts
Due: eslint, prettier --list-different

Notes added by 'git notes add'
  150d3b585759154478d9b1311821eb699b32df84
Due: none

fix: Improved error handling
  src/cli.ts
  src/lib/transforms.ts
Due: eslint, prettier --list-different

Notes added by 'git notes add'
  16de601850081a6f46c8b495a15265cd60cd4518
Due: none

chore: Audit fix - downgrade path-package from 6.5.1 to 6.4.7
  package-lock.json
  package.json
Due: none

chore: Remove patch-package
  package-lock.json
  package.json
Due: none

chore: Update vulnerable dependencies
  package-lock.json
Due: none
